<a href="https://colab.research.google.com/github/hwahyeon/Study/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%84%20%ED%8C%8C%EC%9D%B4%EC%8D%AC%EB%8B%B5%EA%B2%8C/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**파트1. Python 꿀팁**

###**수강 전에 이 문제를 풀어보세요.**

정수를 담은 이차원 리스트, mylist 가 solution 함수의 파라미터로 주어집니다. mylist에 들은 각 원소의 길이를 담은 리스트를 리턴하도록 solution 함수를 작성해주세요.

In [4]:
# Before
def solution(mylist):
    res_ = []
    for i in mylist:
        res_.append(len(i))
    return res_

solution([[1, 2], [3, 4], [5]])

[2, 2, 1]

In [3]:
# After
def solution(mylist):
    return list(map(len, mylist))

solution([[1, 2], [3, 4], [5]])

[1, 1]

*   iterable: 자신의 멤버를 한 번에 하나씩 리턴할 수 있는 객체입니다. list, str, tuple, dict 등이 여기에 속합니다.

*   sequence: int 타입 인덱스를 통해, 원소에 접근할 수 있는 iterable 입니다. iterable의 하위 카테고리라고 생각하시면 됩니다. list, str, tuple이 여기 속합니다. ( dictionary는 다양한 타입을 통해 원소에 접근할 수 있기 때문에 sequence에 속하지 않습니다.

##**파트2. 정수 다루기**

###**몫과 나머지 - divmod**

###문제 설명
숫자 a, b가 주어졌을 때 a를 b로 나눈 몫과 a를 b로 나눈 나머지를 공백으로 구분해 출력해보세요.

###입력 설명
입력으로는 공백으로 구분된 숫자가 두 개 주어집니다.
첫 번째 숫자는 a를 나타내며, 두 번째 숫자는 b를 나타냅니다.

###출력 설명
a를 b로 나눈 몫과 a를 b로 나눈 나머지를 공백으로 구분해 출력하세요.

###제한 조건
a와 b는 자연수입니다.

In [6]:
# Before
a, b = map(int, input().strip().split(' '))
print((a//b), (a%b))

# input 5 3 / output 1 2

5 3
1 2

In [8]:
# After
a = 5
b = 3
print(*divmod(a, b))

1 2

divmod는 작은 숫자를 다룰 때 a//b, a%b 보다 느립니다. 대신, 큰 숫자를 다룰 때는 전자가 후자보다 더 빠르지요.

###**n진법으로 표기된 string을 10진법 숫자로 변환하기 - int 함수**

###문제 설명
base 진법으로 표기된 숫자를 10진법 숫자 출력해보세요.

###입력 설명
입력으로는 공백으로 구분된 숫자가 두 개 주어집니다.
첫 번째 숫자는 num을 나타내며, 두 번째 숫자는 base를 나타냅니다.

###출력 설명
base 진법으로 표기된 num을 10진법 숫자로 출력해보세요.

###제한 조건
base는 10 이하인 자연수입니다.
num은 3000 이하인 자연수입니다.

In [9]:
num, base = map(int, input().strip().split(' '))
print(int(str(num), base))

# input 12 3 / output 5

12 3
5

파이썬의 int(x, base=10) 함수는 진법 변환을 지원합니다.

##**파트3. Str 다루기**

###**문자열 정렬하기 - ljust, center, rjust**

###문제 설명
문자열 s와 자연수 n이 입력으로 주어집니다. 문자열 s를 좌측 / 가운데 / 우측 정렬한 길이 n인 문자열을 한 줄씩 프린트해보세요.

In [11]:
s, n = input().strip().split(' ')
n = int(n)
print(s.ljust(n))
print(s.center(n))
print(s.rjust(n))

#input abc 7

abc 7
abc
  abc
    abc

파이썬에서는 ljust, center, rjust와 같은 string의 메소드를 사용해 코드를 획기적으로 줄일 수 있습니다.

###**알파벳 출력하기**
###문제 설명
입력으로 0이 주어지면 영문 소문자 알파벳을, 입력으로 1이 주어지면 영문 대문자 알파벳을 사전 순으로 출력하는 코드를 짜세요.

In [12]:
import string 

num = int(input().strip())
if num == 0:
    print(string.ascii_lowercase)
else:
    print(string.ascii_uppercase)

# input 0 or 1

0
abcdefghijklmnopqrstuvwxyz

In [ ]:
# 파이썬은 이런 데이터를 상수(constants)로 정의해놓았습니다.
import string 

string.ascii_lowercase # 소문자 abcdefghijklmnopqrstuvwxyz
string.ascii_uppercase # 대문자 ABCDEFGHIJKLMNOPQRSTUVWXYZ
string.ascii_letters # 대소문자 모두 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
string.digits # 숫자 0123456789

##**파트4. Iterable 다루기**

###**원본을 유지한채, 정렬된 리스트 구하기 - sorted**
파이썬의 sort() 함수를 사용하면 리스트의 원소를 정렬할 수 있습니다. 이때, sort 함수는 원본의 멤버 순서를 변경하지요.

In [14]:
list1 = [4, 5, 6, 3, 2, 1, 7]
list2 = sorted(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 7]

###**2차원 리스트 뒤집기**

다음을 만족하는 함수, solution을 완성해주세요.

solution 함수는 이차원 리스트, mylist를 인자로 받습니다
solution 함수는 mylist 원소의 행과 열을 뒤집은 한 값을 리턴해야합니다.
예를 들어 mylist [[1, 2, 3], [4, 5, 6], [7, 8, 9]]가 주어진 경우, solution 함수는 [[1, 4, 7], [2, 5, 8], [3, 6, 9]] 을 리턴하면 됩니다.

In [16]:
def solution(mylist):
    return list(map(list, zip(*mylist)))

solution([[0, 3, 1, 2], [1, 1, 3, 4], [0, 3, 1, 3], [3, 0, 3, 1]])

[[0, 1, 0, 3], [3, 1, 3, 0], [1, 3, 1, 3], [2, 4, 3, 1]]

zip(*iterables)는 각 iterables 의 요소들을 모으는 이터레이터를 만듭니다.
튜플의 이터레이터를 돌려주는데, i 번째 튜플은 각 인자로 전달된 시퀀스나 이터러블의 i 번째 요소를 포함합니다.

In [17]:
# ex1
mylist = [1, 2, 3]
new_list = [40, 50, 60]
for i in zip(mylist, new_list):
    print (i)

(1, 40)
(2, 50)
(3, 60)

In [18]:
# ex2
list1 = [1, 2, 3, 4]
list2 = [100, 120, 30, 300]
list3 = [392, 2, 33, 1]
answer = []
for number1, number2, number3 in zip(list1, list2, list3):
   print(number1 + number2 + number3)

493
124
66
305

In [21]:
# ex 3 Key 리스트와 Value 리스트로 딕셔너리 생성하기
animals = ['cat', 'dog', 'lion']
sounds = ['meow', 'woof', 'roar']
answer = dict(zip(animals, sounds)) # {'cat': 'meow', 'dog': 'woof', 'lion': 'roar'}
print(answer)

{'cat': 'meow', 'dog': 'woof', 'lion': 'roar'}

##**파트5. Sequence Types 다루기**

##**파트6. Itertools / Collections 모듈**

##**파트7. 기타**

In [ ]:
def solution(mylist):
    answer = []
    for i in mylist:
        if (i % 2) == 0:
            answer.append(i**2)
    return answer